<div id="flowerpage">
  <div>
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
  </div>
  <div class="row">
    <div class="col-md-2" style="background-color: #333;"></div>
    <div class="col-md-8" style="background-color: #333;">
      <ul style="margin-bottom: 0px;">
        <li><a href="/sherylMythology">Home</a></li>
        <li><a routerLink="/godTree">The Gods Tree</a></li>
        <li><a routerLink="/godList">The Olympians</a></li>
        <li><a routerLink="/heroList">The Heroes</a></li>
        <li><a routerLink="/flowerList">The Flowers</a></li>
        <li><a routerLink="/reference">References</a></li>
      </ul>
    </div>
    <div class="col-md-2" style="background-color: #333;"></div>
  </div>
  <div class="row" >
    <div class="col-md-6 offset-md-3" id="char-div">
      <h1 id="char-header" >ADONIS</h1>
      <p id="char-para">
        Of these deaths and flowery resurrections the most famous was that of Adonis. Every year the Greek girls mourned for him and every year they rejoiced when his flower, the bloodred anemone, the windflower, was seen blooming again. Aphrodite loved him; the Goddess of Love, who pierces with her shafts the hearts of gods and men alike, was fated herself to suffer that same piercing pain. 
      </p>
      <p id="char-para">
        She saw him when he was born and even then loved him and decided he should be hers. She carried him to Persephone to take charge of him for her, but Persephone loved him, too, and would not give him back to Aphrodite, not even when the goddess went down to the underworld to get him. Neither goddess would yield, and finally Zeus himself had to judge between them. He decided that Adonis should spend half the year with each, the autumn and winter with the Queen of the Dead; the spring and summer with the Goddess of Love and Beauty.
      </p>
      <p id="char-para">
        All the time he was with Aphrodite she sought only to please him. He was keen for the chase, and often she would leave her swan-drawn car, in which she was used to glide at her ease through the air, and follow him along rough woodland ways dressed like a huntress. But one sad day she happened not to be with him and he tracked down a mighty boar. With his hunting dogs he brought the beast to bay. He hurled his spear at it, but he only wounded it, and before he could spring away, the boar mad with pain rushed at him and gored him with its great tusks. Aphrodite in her winged car high over the earth heard her lover’s groan and flew to him.
      </p>
      <p id="char-para">
        He was softly breathing his life away, the dark blood flowing down his skin of snow and his eyes growing heavy and dim. She kissed him, but Adonis knew not that she kissed him as he died. Cruel as his wound was, the wound in her heart was deeper. She spoke to him, although she knew he could not hear her:—
      </p>
      <p id="char-poet">
        “You die, O thrice desired,<br>
        And my desire has flown like a dream.<br>
        Gone with you is the girdle of my beauty,<br>
        But I myself must live who am a goddess<br>
        And may not follow you.<br>
        Kiss me yet once again, the last, long kiss,<br>
        Until I draw your soul within my lips<br>
        And drink down all your love.”<br>
        The mountains all were calling and the oak trees answering,<br>
        Oh, woe, woe for Adonis. He is dead.<br>
        And Echo cried in answer, Oh, woe, woe for Adonis.<br>
        And all the Loves wept for him and all the Muses too.<br>
      </p>
      <p id="char-para">
        comes as a startling surprise. Bleak heights are carpeted in radiant colors; every crack and crevice of a frowning crag blossoms. The contrast of this laughing, luxuriant beauty with the clear-cut, austere grandeur all around arrests the attention sharply. Elsewhere wild flowers may be little noticed—but never in Greece.
      </p>
      <p id="char-para-bottom" style="padding-bottom: 2%;">
        But down in the black underworld Adonis could not hear them, nor see the crimson flower that sprang up where each drop of his blood had stained the earth.
      </p>
    </div>
  </div>
</div>