<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-3" style="background-color: #333;"></div>
      <div class="col-md-6" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >ZEUS</h1>
        <p id="char-para">
          Zeus and his brothers drew lots for their share of the universe. The sea fell to Poseidon, and the underworld to Hades. Zeus became the supreme ruler. He was Lord of the Sky, the Rain-god and the Cloud-gatherer, who wielded the awful thunderbolt. His power was greater than that of all the other divinities together. In the Iliad he tells his family, “I am mightiest of all. Make trial that you may know. Fasten a rope of gold to heaven and lay hold, every god and goddess. You could not drag down Zeus. But if I wished to drag you down, then I would. The rope I would bind to a pinnacle of Olympus and all would hang in air, yes, the very earth and the sea too.”
        </p>
        <p id="char-para">
          Nevertheless he was not omnipotent or omniscient, either. He could be opposed and deceived. Poseidon dupes him in the Iliad and so does Hera. Sometimes, too, the mysterious power, Fate, is spoken of as stronger than he. Homer makes Hera ask him scornfully if he proposes to deliver from death a man Fate has doomed. 
        </p>      
        <p id="char-para">
          He is represented as falling in love with one woman after another and descending to all manner of tricks to hide his infidelity from his wife. The explanation why such actions were ascribed to the most majestic of the gods is, the scholars say, that the Zeus of song and story has been made by combining many gods. When his worship spread to a town where there was already a divine ruler the two were slowly fused into one. The wife of the early god was then transferred to Zeus. The result, however, was unfortunate and the later Greeks did not like these endless love affairs.
        </p>  
        <p id="char-para">
          Still, even in the earliest record Zeus had grandeur. In the Iliad Agamemnon prays: “Zeus, most glorious, most great, God of the storm-cloud, thou that dwellest in the heavens.” He demanded, too, not only sacrifices from men, but right action. The Greek Army at Troy is told “Father Zeus never helps liars or those who break their oaths.” The two ideas of him, the low and the high, persisted side by side for a long time. 
        </p>     
        <p id="char-para-bottom" style="padding-bottom: 11%;">
          His breastplate was the aegis, awful to behold; his bird was the eagle, his tree the oak. His oracle was Dodona in the land of oak trees. The god’s will was  revealed by the rustling of the oak leaves which the priests interpreted.
        </p>
        </div>
    </div>   
</div>