<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-2" style="background-color: #333;"></div>
      <div class="col-md-8" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-2" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >ARTEMIS</h1>
        <p id="char-para">
          Apollo’s twin sister, daughter of Zeus and Leto. She was one of the three maiden goddesses of Olympus:—
        </p>
        <p id="char-poet">
          Golden Aphrodite who stirs with love all creation, <br>
          Cannot bend nor ensnare three hearts: the pure maiden Vesta,<br>
          Gray-eyed Athena who cares but for war and the arts of the craftsmen,<br>
          Artemis, lover of woods and the wild chase over the mountains.<br>
        </p>
        <p id="char-para">
          She was the Lady of Wild Things, Huntsman-in-chief to the gods, an odd office for a woman. Like a good huntsman, she was careful to preserve the young; she was “the protectress of dewy youth” everywhere. Nevertheless, with one of those startling contradictions so common in mythology, she kept the Greek Fleet from sailing to Troy until they sacrificed a maiden to her. In many another story, too, she is fierce and revengeful. On the other hand, when women died a swift and painless death, they were held to have been slain by her silver arrows.
        </p>
        <p id="char-para">
          As Phoebus was the Sun, she was the Moon, called Phoebe and Selene (Luna in Latin). Neither name originally belonged to her. Phoebe was a Titan, one of the older gods. So too was Selene—a moon-goddess, indeed, but not connected with Apollo. She was the sister of Helios, the sun-god with whom Apollo was confused.
        </p>
        <p id="char-para">
          In the later poets, Artemis is identified with Hecate. She is “the goddess with three forms,” Selene in the sky, Artemis on earth, Hecate in the lower world and in the world above when it is wrapped in darkness. Hecate was the Goddess of the Dark of the Moon, the black nights when the moon is hidden. She was associated with deeds of darkness, the Goddess of the Crossways, which were held to be ghostly places of evil magic. An awful divinity,
        </p>
        <p id="char-poet">
          Hecate of hell, <br>
          Mighty to shatter every stubborn thing.<br>
          Hark! Hark! her hounds are baying through the town.<br>
          Where three roads meet, there she is standing.<br>
        </p>
        <p id="char-para">
          It is a strange transformation from the lovely Huntress flashing through the forest, from the Moon making all beautiful with her light, from the pure Maiden- Goddess for whom
        </p>
        <p id="char-poet">
          Whoso is chaste of spirit utterly <br>
          May gather leaves and fruits and flowers.<br>
          The unchaste never.<br>
        </p>
        <p id="char-para-bottom">
          In her is shown most vividly the uncertainty between good and evil which is apparent in every one of the divinities. The cypress was sacred to her; and all wild animals, but especially the deer.
        </p>
      </div>
    </div>
</div>