<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-3" style="background-color: #333;"></div>
      <div class="col-md-6" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >HADES</h1>
        <p id="char-para">
          He was the third brother among the Olympians, who drew for his share the underworld and the rule over the dead. He was also called Pluto, the God of Wealth, of the precious metals hidden in the earth. The Romans as well as the Greeks called him by this name, but often they translated it into Dis, the Latin word for rich. He had a far-famed cap or helmet which made whoever wore it invisible. It was rare that he left his dark realm to visit Olympus or the earth, nor was he urged to do so. He was not a welcome visitor. He was unpitying, inexorable, but just; a terrible, not an evil god. 
        </p>
        <p id="char-para">
          His wife was Persephone (Proserpine) whom he carried away from the earth and made Queen of the Lower World.
        </p>
        <p id="char-para-bottom" style="padding-bottom: 50%;">
          He was King of the Dead—not Death himself, whom the Greeks called Thanatos and the Romans, Orcus.
        </p>        
      </div>
    </div>
</div>