<div id="godpage" style="background-size:auto">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-10" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-1" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >ARES</h1>
        <p style="font-size: 180%;" id="char-para">The God of War, son of Zeus and Hera, both of whom, Homer says, detested him. Indeed, he is hateful throughout the Iliad, poem of war though it is. Occasionally the heroes “rejoice in the delight of Ares’ battle,” but far oftener in having escaped “the fury of the ruthless god.” Homer calls him murderous, bloodstained, the incarnate curse of mortals; and, strangely, a coward, too, who bellows with pain and runs away when he is wounded. Yet he has a train of attendants on the battlefield which should inspire anyone with confidence. His sister is there, Eris, which means Discord, and Strife, her son. The Goddess of War, Enyo—in Latin Bellona—walks beside him, and with her are Terror and Trembling and Panic. As they move, the voice of groaning arises behind them and the earth streams with blood.
        </p>
        <p style="font-size: 180%;" id="char-para">
          The Romans liked Mars better than the Greeks liked Ares. He never was to them the mean whining deity of the Iliad, but magnificent in shining armor, redoubtable, invincible. The warriors of the great Latin heroic poem, the Aeneid, far from rejoicing to escape from him, rejoice when they see that they are to fall “on Mars’ field of renown.” They “rush on glorious death” and find it “sweet to die in battle.”
        </p>
        <p style="font-size: 180%;" id="char-para">
          Ares figures little in mythology. In one story he is the lover of Aphrodite and held up to the contempt of the Olympians by Aphrodite’s husband, Hephaestus; but for the most part he is little more than a symbol of war. He is not a distinct personality, like Hermes or Hera or Apollo.
        </p>
        <p style="font-size: 180%;"id="char-para">
          He had no cities where he was worshiped. The Greeks said vaguely that he came from Thrace, home of a rude, fierce people in the northeast of Greece.
        </p>
        <p style="font-size: 180%;" id="char-para-bottom">
          Appropriately, his bird was the vulture. The dog was wronged by being chosen as his animal.
        </p>
      </div>
    </div>
</div>