<div id="godpage" style="background-size:auto">
  <div >
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 500%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 20%; font-size: 175%; font-family: Margadeth; color:rgb(97, 79, 56)"> by Sheryl</p>
  </div>
  <div style="margin-right: 0px; font-family: Glitten;">
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-11" style="background-color: #333; padding-left: 0px;">
        <ul style="margin-bottom: 0px;padding-left: 0px;">
          <li><a style="padding-left: 0px;" href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-10 offset-md-1" id="char-div">
        <h1 id="char-header" >PHOEBUS APOLLO</h1>
        <p id="char-para">The son of Zeus and Leto (Latona), born in the little island of Delos. 
          He has been called “the most Greek of all the gods.” 
          He is a beautiful figure in Greek poetry, the master musician who delights Olympus as he plays on his golden lyre; 
          the lord, too, of the silver bow, the Archer-god, far-shooting; the Healer, as well, who first taught men the healing art. 
          Even more than of these good and lovely endowments, he is the God of Light, in whom is no darkness at all, and so he is the God of Truth. 
          No false word ever falls from his lips.
        </p>
        <p id="char-poet">
          O Phoebus, from your throne of truth, <br>
          From your dwelling-place at the heart of the world,<br>
          You speak to men.<br>
          By Zeus’s decree no lie comes there,<br>
          No shadow to darken the word of truth.<br>
          Zeus sealed by an everlasting right<br>
          Apollo’s honour, that all may trust<br>
          And brought her to the gods.<br>
          With unshaken faith when he speaks.<br>
        </p>
        <p id="char-para">
          Delphi under towering Parnassus, where Apollo’s oracle was, plays an important part in mythology. 
          Castalia was its sacred spring; Cephissus its river. 
          It was held to be the center of the world, so many pilgrims came to it, from foreign countries as well as Greece. 
          No other shrine rivaled it. 
          The answers to the questions asked by the anxious seekers for Truth were delivered by a priestess who went into a trance before she spoke. 
          The trance was supposed to be caused by a vapor rising from a deep cleft in the rock over which her seat was placed, a three-legged stool, the tripod.
        </p>
        <p id="char-para-bottom">
          Apollo was called Delian from Delos, the island of his birth, and Pythian from his killing of a serpent, Python, which once lived in the caves of Parnassus. It was a frightful monster and the contest was severe, but in the end the god’s unerring arrows won the victory. Another name often given him was “the Lycian,” variously explained as meaning Wolf-god, God of Light, and God of Lycia. In the Iliad he is called “the Sminthian,” the Mouse-god, but whether because he protected mice or destroyed them no one knows. Often he was the Sun-god, too. His name Phoebus means “brilliant” or “shining.” Accurately, however, the Sun-god was Helios, child of the Titan Hyperion. 
        </p>
      </div>
    </div>
</div>