<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-3" style="background-color: #333;"></div>
      <div class="col-md-6" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >HEPHAESTUS</h1>
        <p id="char-para">
          The God of Fire, sometimes said to be the son of Zeus and Hera, sometimes of Hera alone, who bore him in retaliation for Zeus’s having brought forth Athena. Among the perfectly beautiful immortals he only was ugly. He was lame as well. In one place in the Iliad he says that his shameless mother, when she saw that he was born deformed, cast him out of heaven; in another place he declares that Zeus did this, angry with him for trying to defend Hera. This second story is the better known, because of Milton’s familiar lines: Mulciber was 
        </p>
        <p id="char-poet">
          Thrown by angry Jove <br>
          Sheer o’er the crystal battlements; from morn<br>
          To noon he fell, from noon to dewy eve,<br>
          A summer’s day, and with the setting sun<br>
          Dropt from the zenith like a falling star,<br>
          On Lemnos, the Aegean isle.<br>
        </p>
        <p id="char-para">
          These events, however, were supposed to have taken place in the far-distant past. In Homer he is in no danger of being driven from Olympus; he is highly honored there, the workman of the immortals, their armorer and smith, who makes their dwellings and their furnishings as well as their weapons. In his workshop he has handmaidens he has forged out of gold who can move and who help him in his work.
        </p>
        <p id="char-para">
          In the later poets his forge is often said to be under this or that volcano, and to cause eruptions.
        </p>
        <p id="char-para">
          His wife is one of the three Graces in the Iliad, called Aglaia in Hesiod; in the Odyssey she is Aphrodite.
        </p>
        <p id="char-para-bottom" style="padding-bottom: 8%;">
          He was a kindly, peace-loving god, popular on earth as in heaven. With Athena, he was important in the life of the city. The two were the patrons of handicrafts, the arts which along with agriculture are the support of civilization; he the protector of the smiths as she of the weavers. When children were formally admitted to the city organization, the god of the ceremony was Hephaestus.
        </p>        
      </div>
    </div>
</div>