<div id="flowerpage" style="padding-bottom: 9%;">
  <div >
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 500%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 150%; font-family: Margadeth; color:rgb(97, 79, 56)"> by Sheryl</p>
  </div>
  <div style="padding-bottom: 3%; margin-right: 0px; font-family: Glitten;">
    <div class="row">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-10" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-1" style="background-color: #333;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" id="centerimg">
      <img src="/sherylMythology/assets/narcissui.jpg" routerLink="/flowerList/narcissus">
      <h3 style="text-align: center; color: white;">Narcissus</h3>
    </div>
    <div class="col-md-4" id="centerimg">
      <img src="/sherylMythology/assets/hyacinth.jpg" routerLink="/flowerList/hyacinth">
      <h3 style="text-align: center; color: white;">Hyacinth</h3>
    </div>
    <div class="col-md-4" id="centerimg">
      <img src="/sherylMythology/assets/adonis.png" routerLink="/flowerList/adonis">
      <h3 style="text-align: center; color: white;">Adonis</h3>
    </div>
  </div>
</div>