<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-2" style="background-color: #333;"></div>
      <div class="col-md-8" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-2" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >PALLAS ATHENA</h1>
        <p id="char-para" style="font-size: 150%;">
          She was the daughter of Zeus alone. No mother bore her. Full-grown and in full armor, she sprang from his head. In the earliest account of her, the Iliad, she is a fierce and ruthless battle-goddess, but elsewhere she is warlike only to defend the State and the home from outside enemies. She was pre-eminently the Goddess of the City, the protector of civilized life, of handicrafts and agriculture; the inventor of the bridle, who first tamed horses for men to use.
        </p>
        <p id="char-para" style="font-size: 150%;">
          She was Zeus’s favorite child. He trusted her to carry the awful aegis, his buckler, and his devastating weapon, the thunderbolt.
        </p>
        <p id="char-para" style="font-size: 150%;">
          The word oftenest used to describe her is “gray-eyed,” or, as it is sometimes translated, “flashing-eyed.” Of the three virgin goddesses she was the chief and was called the Maiden, Parthenos, and her temple the Parthenon. In later poetry she is the embodiment of wisdom, reason, purity.
        </p>
        <p id="char-para-bottom" style="font-size: 150%; padding-bottom: 41%;">
          Athens was her special city; the olive created by her was her tree; the owl her bird.
        </p>
      </div>
    </div>
</div>