<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-2" style="background-color: #333;"></div>
      <div class="col-md-8" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-2" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >POSEIDON</h1>
        <p id="char-para">
          He was the ruler of the sea, Zeus’s brother and second only to him in eminence. The Greeks on both sides of the Aegean were seamen and the God of the Sea was all-important to them. His wife was Amphitrite, a granddaughter of the Titan, Ocean. Poseidon had a splendid palace beneath the sea, but he was oftener to be found in Olympus. 
        </p>
        <p id="char-para">
          Besides being Lord of the Sea he gave the first horse to man, and he was honored as much for the one as for the other. 
        </p>        
        <p id="char-poet">
          Lord Poseidon, from you this pride is ours, <br>
          The strong horses, the young horses, and also the rule of the deep.<br>
        </p>
        <p id="char-para">
          Storm and calm were under his control:—
        </p>
        <p id="char-poet">
          He commanded and the storm wind rose <br>
          And the surges of the sea.<br>
        </p>
        <p id="char-para">
          But when he drove in his golden car over the waters, the thunder of the waves sank into stillness, and tranquil peace followed his smooth-rolling wheels.
        </p>     
        <p id="char-para">
          He was commonly called “Earth-shaker” and was always shown carrying his trident, a three-pronged spear, with which he would shake and shatter whatever he pleased. 
        </p>     
        <p id="char-para-bottom" style="padding-bottom: 22%;">
          He had some connection with bulls as well as with horses, but the bull was connected with many other gods, too.        </p>        
      </div>
    </div>      
</div>