<div id="godpage" style="background-size:auto">
  <div >
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 500%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 20%; font-size: 175%; font-family: Margadeth; color:rgb(97, 79, 56)"> by Sheryl</p>
  </div>
  <div style="margin-right: 0px; font-family: Glitten;">
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-11" style="background-color: #333; padding-left: 0px;">
        <ul style="margin-bottom: 0px;padding-left: 0px;">
          <li><a style="padding-left: 0px;" href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-10 offset-md-1" id="char-div">
        <h1 id="char-header" >HESTIA</h1>
        <p id="char-para">
          She was Zeus’s sister, and like Athena and Artemis a virgin goddess. She has no distinct personality and she plays no part in the myths. She was the Goddess of the Hearth, the symbol of the home, around which the newborn child must be carried before it could be received into the family. Every meal began and ended with an offering to her.
        </p>
        <p id="char-poet">
          Hestia, in all dwellings of men and immortals <br>
          Yours is the highest honor, the sweet wine offered<br>
          First and last at the feast, poured out to you duly.<br>
          Never without you can gods or mortals hold banquet.<br>
        </p>
        <p id="char-para">
          Each city, too, had a public hearth sacred to Hestia, where the fire was never allowed to go out. If a colony was to be founded, the colonists carried with them coals from the hearth of the mother-city with which to kindle the fire on the new city’s hearth.
        </p>
        <p id="char-para-bottom" style="padding-bottom: 39%;">
          In Rome her fire was cared for by six virgin priestesses, called Vestals.
        </p>        
      </div>
    </div>
</div>