<div id="godpage" style="background-size:auto">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-10" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-1" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >HERMES</h1>
        <p id="char-para">
          Zeus was his father and Maia, daughter of Atlas, his mother. Because of a very popular statue his appearance is more familiar to us than that of any other god. He was graceful and swift of motion. On his feet were winged sandals; wings were on his low-crowned hat, too, and on his magic wand, the Caduceus. He was Zeus’s Messenger, who “flies as fleet as thought to do his bidding.”
        </p>
        <p id="char-para">
          Of all the gods he was the shrewdest and most cunning; in fact he was the Master Thief, who started upon his career before he was a day old. 
        </p>        
        <p id="char-poet">
          The babe was born at the break of day, <br>
          And ere the night fell he had stolen away Apollo’s herds.<br>
        </p>
        <p id="char-para">
          Zeus made him give them back, and he won Apollo’s forgiveness by presenting him with the lyre which he had just invented, making it out of a tortoise’s shell. Perhaps there was some connection between that very early story of him and the fact that he was God of Commerce and the Market, protector of traders.
        </p>
        <p id="char-para-bottom" style="padding-bottom: 31%;">
          In odd contrast to this idea of him, he was also the solemn guide of the dead, the Divine Herald who led the souls down to their last home. He appears oftener in the tales of mythology than any other god.
        </p>        
      </div>
    </div>    
</div>