<div id="godpage">
  <div >
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 500%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 20%; font-size: 175%; font-family: Margadeth; color:rgb(97, 79, 56)"> by Sheryl</p>
  </div>
  <div style="margin-right: 0px; font-family: Glitten;">
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-11" style="background-color: #333; padding-left: 0px;">
        <ul style="margin-bottom: 0px;padding-left: 0px;">
          <li><a style="padding-left: 0px;" href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-10 offset-md-1" id="char-div">
        <h1 id="char-header" >APHRODITE</h1>
        <p id="char-para">
          The Goddess of Love and Beauty, who beguiled all, gods and men alike; the laughter-loving goddess, who laughed sweetly or mockingly at those her wiles had conquered; the irresistible goddess who stole away even the wits of the wise. 
        </p>
        <p id="char-para">
          She is the daughter of Zeus and Dione in the Iliad, but in the later poems she is said to have sprung from the foam of the sea, and her name was explained as meaning “the foam-risen.” Aphros is foam in Greek. This sea-birth took place near Cythera, from where she was wafted to Cyprus. Both islands were ever after sacred to her, and she was called Cytherea or the Cyprian as often as by her proper name.
        </p>
        <p id="char-para">
          One of the Homeric Hymns, calling her “Beautiful, golden goddess,” says of her:—
        </p>
        <p id="char-poet">
          The breath of the west wind bore her<br>
          Over the sounding sea,<br>
          Up from the delicate foam,<br>
          To wave-ringed Cyprus, her isle.<br>
          And the Hours golden-wreathed<br>
          Welcomed her joyously.<br>
          They clad her in raiment immortal,<br>
          And brought her to the gods.<br>
          Wonder seized them all as they saw<br>
          Violet-crowned Cytherea.<br>
        </p>
        <p id="char-para">
          The Romans wrote of her in the same way. With her, beauty comes. The winds flee before her and the storm clouds; sweet flowers embroider the earth; the waves of the sea laugh; she moves in radiant light. Without her there is no joy nor loveliness anywhere. This is the picture the poets like best to paint of her.
        </p>
        <p id="char-para">
          But she had another side, too. It was natural that she should cut a poor figure in the Iliad, where the battle of heroes is the theme. She is a soft, weak creature there, whom a mortal need not fear to attack. In later poems she is usually shown as treacherous and malicious, exerting a deadly and destructive power over men.
        </p>
        <p id="char-para-bottom" style="padding-bottom: 2%;">
          In most of the stories she is the wife of Hephaestus (Vulcan), the lame and ugly god of the forge.
          The myrtle was her tree; the dove her bird—sometimes, too, the sparrow and the swan.         
        </p>
      </div>
    </div>
</div>