<div id="godpage">
    <div>
      <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
      <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
    </div>
    <div class="row">
      <div class="col-md-3" style="background-color: #333;"></div>
      <div class="col-md-6" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="background-color: #333;"></div>
    </div>
    <div class="row" >
      <div class="col-md-6 offset-md-3" id="char-div">
        <h1 id="char-header" >HERA</h1>
        <p id="char-para">
          She was Zeus’s wife and sister. The Titans Ocean and Tethys brought her up. She was the protector of marriage, and married women were her peculiar care. There is very little that is attractive in the portrait the poets draw of her. She is called, indeed, in an early poem, 
        </p>
        <p id="char-poet">
          Golden-throned Hera, among immortals the queen,<br>
          Chief among them in beauty, the glorious lady<br>
          All the blessed in high Olympus revere,<br>
          Honor even as Zeus, the lord of the thunder.br>
        </p>
        <p id="char-para">
          But when any account of her gets down to details, it shows her chiefly engaged in punishing the many women Zeus fell in love with, even when they yielded only because he coerced or tricked them. It made no difference to Hera how reluctant any of them were or how innocent; the goddess treated them all alike. Her implacable anger followed them and their children, too. She never forgot an injury. The Trojan War would have ended in an honorable peace, leaving both sides unconquered, if it had not been for her hatred of a Trojan who had judged another goddess lovelier than she. The wrong of her slighted beauty remained with her until Troy fell in ruins.
        </p>
        <p id="char-para">
          In one important story, the Quest of the Golden Fleece, she is the gracious protector of heroes and the inspirer of heroic deeds, but not in any other. Nevertheless she was venerated in every home. She was the goddess married women turned to for help. Ilithyia (or Eileithyia), who helped women in childbirth, was her daughter. 
        </p>
        <p id="char-para-bottom" style="padding-bottom: 20%;">
          The cow and the peacock were sacred to her. Argos was her favorite city.
        </p>        
      </div>
    </div>   
</div>