/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Margadeth";
  src: url(./assets/Margadeth.ttf) format("truetype");
}
@font-face {
  font-family: "Georgia";
  src: url(./assets/Georgia-Regular-font.ttf) format("truetype");
}
@font-face {
  font-family: "Glitten";
  src: url(./assets/Glitten-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Augillion";
  src: url(./assets/Augillion-DEMO.otf) format("opentype");
}
.myDiagramDiv {
    background: whitesmoke;
    height: 900px;
}
.column {
  float: left;
  width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#centerimg img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 85%;
}
#centerimg img:hover {
  max-width: 95%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 200%;
}

li a:hover {
  background-color: #111;
}

#homepage {
  background-image: url("./assets/mount_olympus.jpg");
  background-color: #cccccc;
  background-size: 100% 100%;
}
#godtreepage {
  background-image: url("./assets/god_tree_background.jpg");
  background-color: #cccccc;
  background-size: 100% 100%;
}
#godpage {
  background-image: url("./assets/gods_background.jpg");
  background-color: #cccccc;
}
#heropage {
  background-image: url("./assets/heroes_background.jpg");
  background-color: #cccccc;
  background-size: 100% 100%;
}
#flowerpage {
  background-image: url("./assets/flowers_background.jpg");
  background-color: #cccccc;
  background-size: 100% 100%;
}
#char-div {
  background: rgba(233, 231, 221, 0.856);padding-top: 1.5%;
}
#char-header {
  font-family: "Augillion";
  text-align: center; font-size: 350%; padding-bottom: 1.5%;
}
#char-para {
  text-indent: 25px; text-align: justify; font-size: 150%;
  font-family: "Georgia";
}
#char-para-bottom {
  font-family: "Georgia";
  text-indent: 25px; text-align: justify; font-size: 150%; margin-bottom:0%
}
#char-poet {
  font-family: "Georgia";
  text-align: center; font-size: 140%;
}