<div id="godpage" style="padding-bottom: 11%;">
  <div>
    <h1 style="text-align: center;margin-bottom: 0px; font-size: 400%;font-family: Margadeth;">Mythsionary</h1>
    <p style="font-style: italic;margin-top: 0px;text-align:center;padding-left: 17%; font-size: 250%;"> by Sheryl</p>
  </div>
  <div style="padding-bottom: 3%;" style="margin-right: 0px;">
    <div class="row">
      <div class="col-md-1" style="background-color: #333;"></div>
      <div class="col-md-10" style="background-color: #333;">
        <ul style="margin-bottom: 0px;">
          <li><a href="/sherylMythology">Home</a></li>
          <li><a routerLink="/godTree">The Gods Tree</a></li>
          <li><a routerLink="/godList">The Olympians</a></li>
          <li><a routerLink="/heroList">The Heroes</a></li>
          <li><a routerLink="/flowerList">The Flowers</a></li>
          <li><a routerLink="/reference">References</a></li>
        </ul>
      </div>
      <div class="col-md-1" style="background-color: #333;"></div>
    </div>
  </div>
  <div  class="row" style="padding-bottom: 2%;">
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/zeus.png" routerLink="/godList/zeus">
      <h3 style="text-align: center; color: white;">Zeus</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/poseidon.png" routerLink="/godList/poseidon">
      <h3 style="text-align: center; color: white;">Poseidon</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/hades.png" routerLink="/godList/hades">
      <h3 style="text-align: center; color: white;">Hades</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/hestia.png" routerLink="/godList/hestia">
      <h3 style="text-align: center; color: white;">Hestia</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/hera.png" routerLink="/godList/hera">
      <h3 style="text-align: center; color: white;">Hera</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/ares.png" routerLink="/godList/ares">
      <h3 style="text-align: center; color: white;">Ares</h3>
    </div>
  </div>
  <div  class="row" >
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/athena.png" routerLink="/godList/athena">
      <h3 style="text-align: center; color: white;">Athena</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/apollo.png" routerLink="/godList/apollo">
      <h3 style="text-align: center; color: white;">Apollo</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/athrodite.png" routerLink="/godList/aphrodite">
      <h3 style="text-align: center; color: white;">Athrodite</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/hermes.png" routerLink="/godList/hermes">
      <h3 style="text-align: center; color: white;">Hermes</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/artemis.png" routerLink="/godList/artemis">
      <h3 style="text-align: center; color: white;">Artemis</h3>
    </div>
    <div class="col-md-2" id="centerimg">
      <img src="/sherylMythology/assets/hephaestus.png" routerLink="/godList/hephaestus">
      <h3 style="text-align: center; color: white;">Hephaestus</h3>
    </div>
  </div>
</div>